<nav class="navbar navbar-light bg-darkblue" style="background-color: lightblue;">
  <div  class="container" style="justify-content: center;">
    <a class="navbar-brand" href="#">
      <img src="https://img2.freepng.es/20180703/vev/kisspng-airport-bus-logo-public-transport-bus-service-arti-5b3afff6d9b1a6.3432791915305932708917.jpg" height="60" alt="bus Logo" loading="lazy" />
    </a>
      <h1 >Viajes el destino feliz</h1>
  </div>
</nav>