<footer class="text-white text-center text-lg-start" style="background-color: #23242a;">
  <div class="text-center p-3" style="background-color: lightblue;">
    <span style="color: black" ;>@Derechos reservados Fabian Heras.</span>
  </div>
</footer>